*.gem
*.swp
/pkg/*
/.bundle
/vendor/bundle
/Gemfile.lock
/.ruby-version
/.ruby-gemset
*.tar.gz
Makefile
ext/kindlegen/Kindle*
ext/kindlegen/Sample*
ext/kindlegen/Multimedia*
ext/kindlegen/Readme*
ext/kindlegen/Release*
ext/kindlegen/kindlegen
doc/
bin/
