*.gem
*.swp
/pkg
/.bundle
/.idea
/vendor/bundle
/Gemfile.lock
/.ruby-version
/.ruby-gemset
bin/
*.tar.gz
*.zip
ext/*
!ext/Rakefile
!ext/kindlegen_linux_2.6_i386_v2_9.tar.gz
!ext/KindleGen_Mac_i386_v2_9.zip
!ext/kindlegen_win32_v2_9.zip
